<%= render 'layouts/logged_in_top_nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= @question.title %> <small><%= link_to '[back]', questions_path %></small></h4>
      <hr>
      <p><%= @question.description %></p>
      <hr>
      <% if @question.answers %>
      <% @question.answers.each do |answer| %>
        <div class="comment">
          <div class="user-name">
            <%= answer.user.user_name %>
          </div>
          <div class="comment-content">
            <%= answer.content %>
          </div>
        </div>
        <% if answer.user == current_user %>
          <%= link_to question_answer_path(@question, answer), method: :delete, data: { confirm: "Are you sure?" } do %>
            <span>[delete comment]</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="comment-form">
      <%= form_for [@question, @question.answers.new] do |f| %>
        <%= f.text_field :content, placeholder: 'Can you answer this question?' %>
      <% end %>
    </div>
    <hr>
      <% if @question.user.id == current_user.id %>
        <%= link_to '[edit]', edit_question_path(@question) %> 
      <% end %>
      <hr>
    </div>
  </div>
</div>



