<p id="notice"><%= notice %></p>

<p>
  <strong>Certification name:</strong>
  <%= @certification.certification_name %>
</p>

<p>
  <strong>Certification authority:</strong>
  <%= @certification.certification_authority %>
</p>

<p>
  <strong>Certification number:</strong>
  <%= @certification.certification_number %>
</p>

<p>
  <strong>Certification url:</strong>
  <%= @certification.certification_url %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
